<html ng-app="app">

<head>
  <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-base64/angular-base64.min.js"></script>


  <script src="./javascripts/check_photo.js"></script>

</head>

<body ng-controller="mainCtrl">
  <div>
    Test : Check Image file (build.1)<br/><br/>
    post: api/predict <br/>
    params: base64={image with base64},
  </div>

  <br/>
  <input ng-model="photo" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*" />
  <input type="button" ng-click="predictClick()" value="Check Image" />

  <br/><br/><br/>
  <div>
    <b>Input</b><br/>
    <textarea ng-model="input" rows="10" cols="70"></textarea>
  </div>

  <br/>

  <div>
    <b>Output</b><br/>
    <div ng-repeat="item in output_raw.output"><b>Found {{item.id}} : {{item.value * 100 | number:2}}%</b></div>
    <textarea ng-model="output" rows="10" cols="70"></textarea>
  </div>

  <br/>

</body>

</html>