<html ng-app="app">

<head>
  <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-base64/angular-base64.min.js"></script>


  <script src="./javascripts/check_photo_info.js"></script>

</head>

<body ng-controller="mainCtrl">
  <div>
    Test : Check Image file full info (build.1.1)<br/><br/>
    post: api/predict_info <br/>
    params: 
    <code>{
  "image": "base64 encoded image",
  "imageExtension": "png",
  "location" : {
    "coords": {
      "latitude":  132.386862,
      "longitude": -12.127119
    },
    "timestamp": 1488925246017
  }
}</code>
  </div>

  <br/>
  <input ng-model="photo" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*" />
  <input type="button" ng-click="predictClick()" value="Check Image" />

  <br/><br/><br/>
  <div>
    <b>Input</b><br/>
    <textarea ng-model="input" rows="10" cols="70"></textarea>
  </div>

  <br/>

  <div>
    <b>Output</b><br/>
    <textarea ng-model="output" rows="10" cols="70"></textarea>
  </div>

  <br/>

</body>

</html>