<html ng-app="app">

<head>
  <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./bower_components/angular-base64/angular-base64.min.js"></script>


  <script src="./javascripts/fish_info.js"></script>

</head>

<body ng-controller="mainCtrl">
  <div>
    Test : Fish Info (build.1) <br/><br/>
    post: api/fishinfo <br/>
    params: id={fish id},

  </div>

  <br/>
  <input type="text" ng-model="id"/>
  <input type="button" ng-click="action()" value="Get Info" />

  <br/><br/><br/>


  <div>
    <b>Output</b><br/>
    <textarea ng-model="output" rows="10" cols="70"></textarea>

    </br>
    Image Path : datas/{fish_id}/{image_filename}
  </div>


  <br/>

</body>

</html>