<div class="row">
  <div class="col-md-6 form-group">
    <ul class="list-group">
      <li class="list-group-item active">API Description</li>
      <li class="list-group-item">Type: POST</li>
      <li class="list-group-item">Url: {{endpoint}}/api/fishinfo</li>
      <li class="list-group-item active">API Params</li>
      <li class="list-group-item">
        <pre>{{_params}}</pre>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <form>
      <ul class="list-group">
        <li class="list-group-item active">Develop Test</li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="exampleInputFile">Fish ID</label>
            <input ng-model="id" type="text" >
          </div>
        </li>

        <li class="list-group-item text-center">
          <a href="#" ng-click="action()" class="btn btn-danger ">Submit</a>
        </li>
      </ul>

    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="exampleTextarea"><h4>Log Output</h4></label>
      <textarea class="form-control" ng-model="output" rows="10"></textarea>
    </div>

    Image Path : {{endpoint}}/datas/{{fish_id}}/{{image_filename}}
    
  </div>
</div>