<div class="row">
  <div class="col-md-6 form-group">
    <ul class="list-group">
      <li class="list-group-item active">API Description</li>
      <li class="list-group-item">Type: POST</li>
      <li class="list-group-item">Url: {{endpoint}}/api/predict</li>
      <li class="list-group-item active">API Params</li>
      <li class="list-group-item">
        <pre>{{_params}}</pre>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <form>
      <ul class="list-group">
        <li class="list-group-item active">Develop Test</li>
        <li class="list-group-item">
          <div class="form-group">
            <label for="exampleInputFile">Fish photo</label>
            <input ng-model="photo" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*" id="file"
              class="form-control-file">
          </div>
        </li>

        <li class="list-group-item text-center">
          <a href="#" ng-click="predictClick()" class="btn btn-danger ">Submit</a>
        </li>
      </ul>

    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleTextarea"><h4>Log Input</h4></label>
      <textarea class="form-control" ng-model="input" rows="10"></textarea>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="exampleTextarea"><h4>Log Output</h4></label>
      <textarea class="form-control" ng-model="output" rows="10"></textarea>
    </div>
    <div ng-repeat="item in output_raw.output"><b>Found {{item.id}} : {{item.value * 100 | number:2}}%</b></div>
  </div>
</div>